* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  position: relative;
}

h2::before {
  content: "SALE";
  color: white;
  background-color: #ec2f2f;
  font-size: 12px;
  display: inline-block;
  padding: 7px 15px;
  letter-spacing: 2px;
  position: absolute;
  top: -13px;
  left: -35px;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  line-height: 1.4;
}

.main-header {
  font-size: 22px;
  background-color: rgb(249, 249, 249);
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

.price {
  font-weight: bold;
  font-size: 25px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  /* margin-bottom: 20px;
    margin-top: 10px; */
}

.more-info {
  margin-bottom: 30px;
  margin-top: 10px;
}

.info:link,
.info:visited {
  color: black;
}

.info:hover,
.info:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  /* padding-top: 15px;
    padding-bottom: 15px; */
  margin-bottom: 20px;
}

.details {
  list-style: square;
  margin-left: 20px;
}

.details li {
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border-top: 4px solid black;
  padding: 15px;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
}

.price-ship {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.color {
  height: 20px;
  width: 20px;
  /* display: inline-block;
    margin-right: 10px; */
}

.colors-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .blue {
    background-color: #2f6ee2;
}

.red {
    background-color: #ec2f2f;
}

.yellow {
    background-color: #f0bf1e;
}

.green {
    background-color: #90cc20;
}

.brown {
    background-color: #885214;
} */

/* FLEXBOX LAYOUT */

.flex-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.description {
  flex: 1;
}

.pdetails {
  flex: 1;
}

/* CSS GRID LAYOUT */

/* .product {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    column-gap: 40px;
    align-items: center;
}

.main-header {
    grid-column: 1/-1;
}

.add-to-cart {
    grid-column: 1/-1;
} */
